# sashok724 was here

[Unit]
Description=Windows VFIO VM

[Service]
Type=simple
StandardOutput=journal
StandardError=inherit

RuntimeDirectory=windows
RuntimeDirectoryMode=0750

ExecStart=/usr/local/bin/services/windows.sh

# Performance options (realtime didn't work well...)
Nice=-19
IOSchedulingClass=best-effort
IOSchedulingPriority=0

[Install]
WantedBy=multi-user.target
