# sashok724 was here

[Unit]
Description=Windows VFIO VM

BindsTo=windows-tpm.service
After=windows-tpm.service
PropagatesStopTo=windows-tpm.service

[Service]
Type=simple
StandardOutput=journal
StandardError=inherit

RuntimeDirectory=windows
RuntimeDirectoryMode=0750

ExecStartPre=/usr/local/bin/scripts/windows_pre.sh
ExecStart=/usr/local/bin/scripts/windows.sh
ExecStopPost=/usr/local/bin/scripts/windows_post.sh

# Performance options (realtime didn't work well...)
Slice=windows.slice
Nice=-19
IOSchedulingClass=best-effort
IOSchedulingPriority=0

[Install]
WantedBy=multi-user.target
